
.axis--x path {
    display: none;
  }
  
  .line {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .axisRed text{
    fill: white;
  } 

  .axisRed path{
    fill: white;
  } 

  .axisRed line{
    fill: white;
  } 


