/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";   
@import url('https://fonts.googleapis.com/css?family=Lancelot');

html,body{
    background-color: black;
}


.mat-toolbar{
    color: red;
    background: #2724244d;
    font-family: 'Lancelot', cursive;
    font-size: 32px;
    text-transform: uppercase;
}